.taskbar {
	position: fixed;
	bottom: 0;
	height: 30px;
	width: 100%;
	padding: 2px;
	background-color: #c2c2c2;
	border: outset 2px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

.start {
	font-weight: bold;
	font-size: 0.7em;
	border: outset 2px;
	display: flex;
	padding: 0 2px;
	margin-right: 5px;
}

.start:hover, .start:focus {
	border: inset 2px white;
	background-color: #c0c0c0;
}


.s_menu {
	visibility: hidden;
	display: flex;
	border: outset 2px;
	background-color: #c2c2c2;
	width: 222px;
	height: 200px;
	color: black;
	text-decoration: none !important;
	position: fixed;
	bottom: 30px;
	left: 0;
	float: left;
}

.start + .s_menu:active, .start:focus + .s_menu {
	visibility: visible;
}

.gradient_menu {
	max-width: 30px;
	background: #1988cd;
	background: -moz-linear-gradient(top, #1988cd 0%, #00027c 100%);
	background: -webkit-linear-gradient(top, #1988cd 0%,#00027c 100%);
	background: linear-gradient(to bottom, #1988cd 0%,#00027c 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1988cd', endColorstr='#00027c',GradientType=0 );

}

.gradient_menu h1 {
    margin-top: 166px;
	white-space:nowrap;
	padding: 0;
	border: 0;
	outline: 0;
	vertical-align: baseline;
	font-family: 'Indie Flower', cursive;
	font-size: 1.2em;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    bottom: 0;
    left: 0;
    position: relative;
	transform: rotate(-90deg);
} 

.items_menu button {
	background-color: inherit;
	color: black;
	margin: 0 5px;
	padding: 0 5px;
	width: 180px;
	border: none;
	outline: none;
	text-align: left;
	display: flex;
	cursor: url(../normal.cur), auto;
}

/* Propriétés de boutton du menu lorsqu'elle est survolée */
.items_menu button:hover, .items_menu button:active {
	background-color: #00027c;
	color: white;
}

.items_menu p {
	margin: 10px 0;
	font-family: PxSans, sans-serif;
	font-size: 9px;
}

#prgms_bar {
	display: flex;
}

#prgms_bar p {
	border: inset 2px;
	font-size: 0.5em;
	display: flex;
	padding: 2px;
	margin: 0 1px;
}

#systray {
	font-size: 9px;
	align-self: right;
	background-color: #c0c0c0;
	border: inset 2px white;
	margin-left: auto;
	display: flex;
}

.clock {
	margin: 2px 6px;
}

#iconVolume {
	max-height: 16px;
	max-width: 16px;
	display: block;
	visibility: visible;
}

#iconMutedVolume {
	max-height: 16px;
	max-width: 16px;
	display: block;
	visibility: hidden;
}

#github {
	max-height: 16px;
	max-width: 16px;
	display: block;
}