.wTopBar {
	display: flex;
	box-sizing: border-box;
	height: 21px;
	width: 100%;
	color: white;
	font-size: 10px;
	border-bottom: outset 3px #c2c2c2;
	justify-content: space-between;

	/*Dégradé*/
	background: -moz-linear-gradient(left, #00027c 0%, #1988cd 100%);
	background: -webkit-linear-gradient(left, #00027c 0%,#1988cd 100%);
	background: linear-gradient(to right, #00027c 0%,#1988cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00027c', endColorstr='#1988cd',GradientType=1 );
}

.button-3d {
    display: flex;
    float: left;
    border-right-color: #424242;
    border-bottom-color: #424242;
    margin: 0.5px 1px;
    color: transparent;
    text-decoration: none;
}

.button-3d button {
	background: #d6d6ce;
	height: 16px;
    width: 15.5px;
}


.button-3d #btnResize {
	background-image: url(../icons/maximize.png);
	background-position: 1px 1px 0 0;
    background-repeat: no-repeat;
}

.button-3d #btnClose {
    background-image: url(../icons/close.png);

}

.button-3d #btnMinimize {
    background-image: url(../icons/minimize.png);
    margin-right: auto;

}